{% extends 'base.html' %}

{% block title %}Importar productos{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'productos\css\estilos.css' %}">

    <div class="container">
        <h1>Importa tus productos desde un archivo CSV</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Añadir CSV a la lista</button>
        </form>
    </div>
{% endblock %}
