{% extends 'base.html' %}

{% block title %}Listar productos{% endblock %}

{% block content %}
    <h1>Listar productos</h1>
    <a href="{% url 'exportar_csv' %}" class="btn btn-primary">Exportar CSV</a>
    
    <a href="{% url 'importar_csv' %}" class="btn btn-secondary">Importar CSV</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.cantidad}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}